nav.paginate-container {
	width: 80%;
	margin: auto;
	display: flex;
	margin-top: 20px;
}
li.page-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	border: 1px solid black;
	width: 40px;
	cursor: pointer;
}
li.page-item:hover {
	background: #26266c;
	color: #fff;
}
li.page-item.active {
	background: #26266c;
	color: #fff;
}
