.user-item {
	display: flex;
	align-items: center;
	/* gap: 2rem; */
	justify-content: space-between;
}
.action-buttons {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}

.action-buttons a {
	text-decoration: none;
}
.custom-btn {
	background: #aef5ae;
	padding: 6px 10px;
	border-radius: 6px;
	font-size: 13px;
}

.search-box {
	display: flex;
	justify-content: flex-end;
}
